<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.recentskeeper"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="34" />

    <!-- Only used to populate the app picker. -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <!-- The protected list is published through Settings.System so the injected
         processes can read it without this app having to be alive. Grant once:
         adb shell appops set io.github.recentskeeper WRITE_SETTINGS allow -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:label="@string/app_name">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/module_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope" />
    </application>
</manifest>
